.cabecalho {
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: o.6rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.23em;
    height: 300px;
}
 
.cabecalho__logo{
    padding: 1.5em 0;
    width: 14.5em;
}
 
.cabecalho__menu {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color:  rgb(158, 158, 158);
}
 
.cabecalho__item-menu {
    display: inline-block;  
    padding: 5px;
}
 
.cabecalho__item-menu a {
    display: inline-block;
}

@media (min-width:640px){
    .cabecalho{
        padding: 0 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .cabecalho__logo{
        padding: 2.5em 0;
    }
    .cabecalho__menu{
        background-color: transparent;
    }
}
