body
{
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    height: 100vh;
    background-color: #ffffff; 
    margin: 1;
}
.conteiner{
    text-align: center;
    background-color: #00ff80;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #a3a3a3;
    place-items: center;
    height:1700px;
    width: 2000px;
}
h1{
    color: rgb(255, 255, 255);
    font-size:65px;
    text-align: justify;
}
p{
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: justify;
}
