body
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    background-color: #00ff80; 
    margin-left: auto;
    margin-right: auto;
}
.video{
    display: block;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    border-width: 5px;

}

h1{
    background-color: rgb(231, 231, 231);
    color: rgb(255, 255, 255);
    font-size:100px;
    text-align: center;
}
p{
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: left;
    padding-left: 30px;
    padding-right: 25px;
}


