body
{
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff; /* Fundo neutro */
}
.conteiner{
    text-align: center;
    background-color: #00ff80;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #a3a3a3;
    display: grid;
    place-items: center;
    height: 2500px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    color: rgb(255, 255, 255);
    font-size:65px;
}
p{
    color: rgb(255, 255, 255);
    font-size: 40px;
}
