body
{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff; /* Fundo neutro */
}

.conteiner{
    text-align: center;
    background-color: #00ff80;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 950px;
    border: 2px solid #a3a3a3;
}

li{
    color: rgb(255, 255, 255);
    font-size: 40px
}
h1{
    color: rgb(255, 255, 255);
    font-size:65px;
}
h2{
    color: rgb(255, 255, 255);
    font-size:55px;
}
figcaption{
    color: rgb(255, 255, 255);
    font-size: 30px;
}
